:root {
    --bg-color: #1e1e1e;
    --typewriterCharacters: 14;
    --typewriterSpeed: calc(var(--typewriterCharacters)* 0.20s);
  }
  
  .page_diapo {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    display: grid;
    background: var(--bg-color);
  }
  
  .page_diapo h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
  
  .page_diapo h1::before,
  .page_diapo h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .page_diapo h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .page_diapo h1::after {
    width: 0.125em;
    background: #62d0f3;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .page_diapo .contenu {
    color: #62d0f3;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .wrapper div p img{
    animation: tour 4s linear infinite;
    border-radius: 50%;
  }

  @keyframes tour {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }