---
layout: default
---

<div class="page_diapo">
    <h1>{{page.title}}</h1>
    <div class="contenu">
        <iframe height="300" style="width: 100%;" scrolling="no" title="Tests Coconut" src="https://codepen.io/jean-baptiste-dp/embed/dyzoVNZ?default-tab=js%2Cresult&editable=true" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
            See the Pen <a href="https://codepen.io/jean-baptiste-dp/pen/dyzoVNZ">
            Tests Coconut</a> by Jean-Baptiste-DP (<a href="https://codepen.io/jean-baptiste-dp">@jean-baptiste-dp</a>)
            on <a href="https://codepen.io">CodePen</a>.
          </iframe>
        {{content}}
    </div>
</div>